# ==========================================================
# CodeIgniter 4
# ==========================================================

# Environment / secrets
#.env

# Writable files
/writable/cache/*
/writable/debugbar/*
/writable/logs/*
/writable/session/*
/writable/uploads/*

# Exceptuar archivos .gitignore de las carpetas writable
!/writable/cache/.gitignore
!/writable/debugbar/.gitignore
!/writable/logs/.gitignore
!/writable/session/.gitignore
!/writable/uploads/.gitignore

# ==========================================================
# Dependencies
# ==========================================================

/vendor/

# ==========================================================
# IDE / Editor
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Sistema operativo
# ==========================================================

.DS_Store
Thumbs.db
desktop.ini

# ==========================================================
# Archivos temporales
# ==========================================================

*.tmp
*.temp
*.log

# ==========================================================
# Backups
# ==========================================================

*.bak
*.backup